/*Main Section*/

.MainPage {
    @include PageSize;

    background-image: linear-gradient(90deg, $Cream-Brown 50%, $Cream 50%);

    .Title {
        position: absolute;
        left: 50%;
        top: 5%;
        transform: translate(-50%, -5%);

        font-family: "ChewyFont";
        font-size: 15vh;
        font-weight: 100;
        color: $Dark-Brown;
    }

    .Image {
        @include CenterFix;
        width: 80%;
        height: 50%;

        object-fit: fill;
    }

    .Slogan {
        position: absolute;
        top: 87%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-family: "BaseFont";
        font-size: 4vh;
        color: $Dark-Brown;
    }
}
